@import "tailwindcss";

@layer base {
  :root {
    --background: #000000;
    --foreground: #ffffff;
    --accent: #00ff00;
    --accent-dark: #008800;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased overflow-x-hidden;
  }
}

@layer utilities {
  .text-editorial {
    @apply font-black italic uppercase tracking-tighter;
  }

  .bg-accent {
    background-color: var(--accent);
  }

  .text-accent {
    color: var(--accent);
  }

  .glass-card {
    @apply bg-zinc-900 border border-white/5;
  }
}